<footer id="page_footer"> 
	<p>Best viewed with Safari 5+, Firefox 3+, Opera 10, Chrome 8+ or lastly IE 7+ - &copy; 2011,2012
		<% if logged_in? %>
			<%= link_to "log out", logout_path %>
		<% else %>
			<%= link_to "Rocky Mountain Sidewinders", login_path %>
		<% end %></p>
</footer>
