/******************************/
/* rules for the speaker buttons */
/******************************/
section#commbuttons {
	display:block;
	margin-top:15px;
}

section#commbuttons p{
	width:75%;
	height:90px;
	margin-left:30px;
	text-align:left;
}

section#commbuttons p .audio {
	margin:30px 0px 0px 30px ;
}

.alt_logo {
	position:absolute;
	top:35px;
	left:850px;
	float:right;
}

/* -------------------------------- */
/* rules for the tablebox and table */
/* -------------------------------- */
#audiotable {
	border-style:hidden;
	border-collapse:collapse;
	width:70%;
	margin-left:10%;
	margin-bottom:17px;
}

#audiotable td {
	padding:10px;
	text-align:center;
	font-size:10pt;
	color:orange;
}
