/******************************/
/* rules for the flag buttons */
/******************************/
section#flagbuttons {
	margin:0px;
	padding:0px;
	display:block;
}

p.flags {
	height:200px;
	margin-left:50px;
	float:left;
}

img.flags {
	width:70px;
	margin-top:40px;
	margin-right:10px;
}

img.alt_logo {
	position:absolute;
	top:35px;
	left:850px;
	float:right;
}